.about{
    background-color: white;
    height: auto;
    width: 700px;
    border:2 px solid white;
    padding: 20px 40px 30px 40px;
    border-radius: 5%;
    margin-top: 10rem;
}
.outerAbout{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headAbout{
    text-align: center;
    margin-bottom: 20px;
}
.aboutContent{
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}