/* ContributionPage.css */
.bigCont {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f7;
    overflow-y: scroll;
    overflow-x: hidden;
    margin:0 9% 0px 9%;
    scrollbar-color: #F5F5F7 #F5F5F7;
    white-space: wrap;
}
.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
}
.bigContCp{
    display: inline-block;
    margin: 8px;
}
.paraCont{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
 
}
a{
    text-decoration: none;
    color:black;
}
.box {
    width: 80%;
    height: 200px;
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #333;
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}
.box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.buttons {
    display: flex;
    justify-content: space-around;
    /* width: 92%; */
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 10px;
}
.btn {
    width: 140px;
    height: 50px;
    background: linear-gradient(to top, #00154c, #12376e, #23487f);
    color: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.btn span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: top 0.5s;
}
.btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
}
.btn:hover .btn-text-one {
    top: -100%;
}
#contributeBtn{
    position: fixed;
    bottom: 0;
}
.btn:hover .btn-text-two {
    top: 50%;
}
.button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: #F16E00;
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}
.button:hover {
    background-color: #e05e00;
    transform: scale(1.05);
}
.contribute-btn:hover {
    background-color: #e05e00;
}
.contribute-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px;
    width: 500px;
    max-width: 90%;
    box-sizing: border-box;
    animation: fadeIn 0.3s ease-out;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* z-index: 999; */
}
.form-field {
    margin-bottom: 20px;
}
.form-field label {
    margin-bottom: 5px;
    font-weight: bold;
}
.form-field input, .form-field select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-buttons {
    display: flex;
    justify-content: space-between;
}
.submit-btn {
    background-color: green;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}
.submit-btn:hover {
    background-color: green;
    transform: scale(1.05);
}
.close-btn {
    background-color: #FF4C4C;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}
.close-btn:hover {
    background-color: #e03a3a;
    transform: scale(1.05);
}
.close-btn {
    background-color: #FF4C4C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    position: absolute;
    top: 10px;
    width: 100px;
    right: 10px;
}
.button-77 {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 90%;
   
    word-break: keep-all;
    z-index: 0;
}
@media (min-width: 768px) {
    .button-77 {
        padding: 19px 32px;
    }
}
/* .button-77:before,
.button-77:after {
    border-radius: 80px;
} */
.button-77:before {
    background-color: rgba(249, 58, 19, .32);
    content: "";
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}
.button-77:after {
    background-color: initial;
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    content: "";
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
}
.button-77:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
}
.button-77:active:not(:disabled) {
    color: #ccc;
}
.button-77:active:not(:disabled):after {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
}
.button-77:disabled {
    cursor: default;
    opacity: .24;
}
.button-87 {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: auto;
    margin-bottom: 20px;
    padding: 20px 40px;

    font-size: 1.5em;
}
.button-87:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.button-87:active {
    transform: scale(0.95);
}
